
body {

    background-color: #2b2b2b; 
    color: #e0e0e0; 
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
}


h1 {
    text-align: center;
    color: #ffaa00; 
}


h2 {
    border: 2px solid #ed74fd;
    color: #eb55ff; 
    display: inline-block;
    padding: 5px 30px;
}


a {
    color: #55ffff; 
    text-decoration: none; 
}


a:hover {
    color: #ffaa00;
}


code {

    background-color: #1e1e1e; 
    padding: 3px 6px; 
    border-radius: 5px; 
    font-family: monospace; 
    color: #cc55ff; 
}


img {
    border-radius: 8px; 
}

.sağa {
    position: absolute; 
    right: 50px;        
    top: 930px;         
    width: 700px;       
    z-index: 10;      
}

.pp-sağ {
    position: absolute;
    right: 20px;       
    top: 10px;     
    width: 100px;    
    z-index: 10;      
}

.pp-sol {
    position: absolute;
    left: 20px;        
    top: 10px;         
    width: 100px;       
    z-index: 10;        
}

.modlar {
margin-top: 70px;
}

.durum{
font-size: 20px;

}

.anamenu {
    float: right; 
    margin-right: 50px; 
    background-color: #1e1e1e;
    padding: 5px 15px;
    border: 1px solid #8855ff;
    border-radius: 5px;
    font-size: 18px; 
    color: #9655ff;

}

.anamenu:hover {
    color: #ec40fc;
}